<h2>Orders</h2>

<%= form_tag(orders_path, method: "get", class: "form-inline") do %>
    <label class="col-form-label">From</label>
  <div class="form-group mb-2">
  <%= date_field('orders','min', min: '2015-05-20', max: Date.today, value: params[:orders] && params[:orders][:min], class: 'form-control') %>
</div>
  <label class="col-form-label">To</label>
  <%= date_field('orders','max', min: '2015-05-20', max: Date.today, value: params[:orders] && params[:orders][:max], class: 'form-control') %>
  <div class="form-group mx-sm-3 mb-2">
    <%= select_tag :school_id, options_from_collection_for_select(School.all, "id", "name", params[:school_id]), include_blank: '---- Select School ----', class: 'form-control' %>
  </div>
  <%= submit_tag("Search", class: "btn btn-default") %>
<% end %>
<hr>
<p> Order Total: <%#= @financial_details.total || 0 %> </p>
<p> Order Commision: <%#= @financial_details.commission || 0 %> </p>
<table>
  <table>
    <th class="col-md-1">ID</th>
    <th class="col-md-1">Internal OrderID</th>
    <th class="col-md-2">Name</th>
    <th class="col-md-1">Price</th>
    <th class="col-md-2">Status</th>
    <%# <th class="col-md-1">URL</th> %>
    <th class="col-md-2">Placed On</th>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order), target: "_blank" %></td>
      <td><%= order.store_order_id %></td>
      <td><%= order.name %></td>
      <td><%= order.subtotal %></td>
      <td><%= order.status %> </td>
      <td><%= order.created_at.strftime("%d-%b-%Y %T %p") %></td>
    </tr>
    <% end %>
  </table>
</table>

<%#== @pagy.next && pagy_bootstrap_nav(@pagy) %>
