<br>
<p><b>Order Details</b></p>
<table>
  <th class='col-md-1'>ID</th>
  <th class='col-md-1'>InternalID</th>
  <th class='col-md-2'>Name</th>
  <th class='col-md-2'>Price</th>
  <th class='col-md-2'>Placed On</th>
  <th class='col-md-3'>Status</th>
  <tr>
    <td><%= @order.id %></td>
    <td><%= @order.store_order_id %></td>
    <td><%= @order.name %></td>
    <td><%= @order.subtotal %></td>
    <td><%= @order.created_at.strftime('%d-%b-%Y %T %p') %></td>
    <td><%= @order.status.humanize %></td>
  </tr>
</table>
<hr>
<p><b>Customer Address</b></p>
<table>
  <th class='col-md-1'>Name</th>
  <th class='col-md-2'>Address</th>
  <th class='col-md-2'>Phone</th>
  <th class='col-md-2'>City</th>
  <tr>
    <td><%= "#{@order.shipping_address.name}" %></td>
    <td><%= @order.shipping_address.address %></td>
    <td><%= @order.shipping_address.phone %></td>
    <td><%= @order.shipping_address.city %></td>
  </tr>
</table>
<hr>

<p><b>Item Details</b></p>
<table>
  <table>
    <th class='col-md-1'>Name</th>
    <th class='col-md-1'>PID</th>
    <th class='col-md-1'>Size</th>
    <th class='col-md-1'>Price</th>
    <th class='col-md-1'>Quantity</th>
    <% if params[:body] != 'false' %>
      <th class='col-md-6'>Description</th>
    <% end %>
    <% @order.order_items.each do |item| %>
    <tr>
      <td style='vertical-align:top'><%= item.name %></td>
      <td style='vertical-align:top'><%= item.product_id && link_to(item.product_id, product_path(item.product_id), target: '_blank') %></td>
      <td style='vertical-align:top'><%= item.name %></td>
      <td style='vertical-align:top'><%= item.price %></td>
      <td style='vertical-align:top'><%= item.quantity %></td>
      <% if params[:body] != 'false' %>
        <td style='vertical-align:top'><%= item.product && item.product.description.html_safe %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</table>
