<p id="notice"><%= notice %></p>

<p>
  <strong>Store order:</strong>
  <%= @order.store_order_id %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @order.subtotal %>
</p>

<p>
  <strong>Shipping total:</strong>
  <%= @order.shipping_total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @order.payment %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @order.seller %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
