<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%= form_tag(products_path, method: "get", class: "form-inline") do %>
  <div class="form-group mb-2">
  <%= text_field_tag(:title, params[:title], placeholder: "Search By Name", class: 'form-control') %>
</div>
  <div class="form-group mx-sm-3 mb-2">
    <%= select_tag :school_id, options_from_collection_for_select(School.all, "id", "name", params[:school_id]), include_blank: '---- Select School ----', class: 'form-control' %>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
<% end %>
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>School Name</th>
      <th colspan="1"> Action</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= truncate(product.name, :length => 60) %></td>
        <td><%= truncate(product.description.html_safe, :length => 50) %></td>
        <td><%= product.school&.name %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%#== @pagy.next && pagy_bootstrap_nav(@pagy) %>
