<p id="notice"><%= notice %></p>

<p>
  <h3>Title:
  <%= @product.name %>
</h3>
</p>
<p>
  <strong>School Name:</strong>
  <%= @product.school&.name %>
</p>
<p>
  <strong>Variants:</strong><br>
  <%= @product.variants.pluck(:value).join("\n") %>
</p>
<p>
  <strong>Body:</strong>
  <%= @product.description.gsub("<br><br>", "").html_safe %>
</p>


<p>
  <strong>Image:</strong><br>
  <%= @product.images && image_tag(@product.images[0].url, size: "160") %>
</p>

<%= link_to 'Back', products_path %>
