<h1> Orders Per Product </h1>
<%= form_tag(order_product_reports_path, method: 'get') do %>
From
  <%= date_field('orders','min', min: '2015-05-20', max: Date.today, value: params[:orders] && params[:orders][:min]) %>
  To
  <%= date_field('orders','max', min: '2015-05-20', max: Date.today, value: params[:orders] && params[:orders][:max]) %>
  <%= submit_tag('Search') %>
<% end %>
<br>
<table>
  <table>
    <th class='col-md-2'>Image</th>
    <th class='col-md-2'>ID</th>
    <th class='col-md-2'>Variant</th>
    <th class='col-md-6'>Title</th>
    <th class='col-md-2'>Count</th>
    <% @product_orders.each do |product| %>
    <tr>
      <td style='vertical-align:top'><%= product.image && image_tag(product.image, size: '160') %></td>
      <td style='vertical-align:top'><%= link_to product.id, product_path(product.id) %></td>
      <td style='vertical-align:top'><%= product.variant_title %></td>
      <td style='vertical-align:top'><%= product.title %></td>
      <td style='vertical-align:top'><%= product.count %></td>
    </tr>
    <% end %>
  </table>
</table>
<%== @pagy.next && pagy_bootstrap_nav(@pagy) %>
