<!DOCTYPE html>
<html>
  <head>
    <title>Uniform Junction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('https://cdn1.storehippo.com/s/5f36066677235fbeaa82ea61/5fbe2c319d51aaf679fa9368/webp/uniform-junction-favicon-logo-240x240.png') %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <% flash.each do |key, message| %>
      <br>
        <p class="alert <%= flash_class(key) %>"><%= message %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
